.page.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-title {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 28px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 250px;
      height: 250px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 40px;
      border-radius: 16px;
      .errors {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: red;
        font-weight: 500;
        margin-bottom: 4px;
        min-height: 40px;
      }
    }
  }
}
